<div class="user-details">
  <h1 style="font-weight: bold;">Description</h1>
  <p style="text-align: left;">Flaky tests hinder the development process by exhibiting uncertain behavior in regression testing. A flaky test may pass in some runs and fail in others while running on the same code version. The non-deterministic outcome frequently misleads the developers into debugging non-existent faults in the code. To effectively debug the flaky tests, developers need to reproduce them. The industry de facto to reproduce flaky tests is to rerun them multiple times. However, rerunning a flaky test numerous times is time and resource-consuming.
    <br>
    <br>
    This work proposes a framework for the reliable reproduction of timing-dependent flaky tests in Android apps. A timing-dependent flaky test often results from event races originating from concurrent access to GUI data. Our framework employs a practical and instrumentation-free approach to reproduce timing-dependent flaky tests. In particular, we explore the space of event orders by prioritizing the orders of events— (1) before the flake failure and (2) racing on GUI data. We demonstrate the efficacy of our approach in reproducing 46 out of 50 flaky tests from 14 widely used apps, while the state-of-the-art techniques could only detect 23 at most.</p>
</div>
<div class="user-details">
  <h1 style="font-weight: bold;" >Dataset</h1>
  <iframe height="1500px"  src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQeliwaWoEVqEnb3m-rtHCQqTK2kcDZuRC2Jl-98HbPDn5SXbc3XPWIFB6elzwQGrdjU9sqnWslo4uW/pubhtml?gid=0&single=true" loading allowfullscreen width="100%" height="300"></iframe>
</div>
